@font-face {
    font-family: "Avenir LT Pro";
    src: url("../fonts/AvenirLTProBook.otf");
}

@font-face {
    font-family: "Avenir LT Pro Black";
    src: url("../fonts/AvenirLTProBlack.otf");
}

@font-face {
    font-family: "Avenir LT Pro Black Oblique";
    src: url("../fonts/AvenirLTProBlackOblique.otf");
}

@font-face {
    font-family: "Avenir LT Pro Heavy";
    src: url("../fonts/AvenirLTProHeavy.otf");
}

@font-face {
    font-family: "Avenir LT Pro Heavy Oblique";
    src: url("../fonts/AvenirLTProHeavyOblique.otf");
}

@font-face {
    font-family: "Avenir LT Pro Medium";
    src: url("../fonts/AvenirLTProMedium.otf");
}

@font-face {
    font-family: "Avenir LT Pro Medium Oblique";
    src: url("../fonts/AvenirLTProMediumOblique.otf");
}

@font-face {
    font-family: "Avenir LT Pro Roman";
    src: url("../fonts/AvenirLTProRoman.otf");
}

@font-face {
    font-family: "Avenir LT Pro Oblique";
    ;
    src: url("../fonts/AvenirLTProOblique.otf");
}

@font-face {
    font-family: "Avenir LT Pro";
    src: url("../fonts/AvenirLTProBook.otf");
}

@font-face {
    font-family: "Avenir LT Pro Oblique";
    src: url("../fonts/AvenirLTProBookOblique.otf");
}

@font-face {
    font-family: "Avenir LT Pro Light";
    src: url("../fonts/AvenirLTProLight.otf");
}

@font-face {
    font-family: "Avenir LT Pro Light Oblique";
    src: url("../fonts/AvenirLTProLightOblique.otf");
}